html, body {
  width: 100%;
  height: 100%;
}
body {
  background: url('../images/masthead.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #843656;
  font-size: 15px;
  line-height: 1.3125rem;
}

/* TYPOGRAPHY
-------------------------------------------------------------------------*/

h2 {
  font-family: 'QuicksandBold', Helvetica, sans-serif;
  font-size: 1.8125rem;
  margin-bottom: 1rem;
}
em {
  font-family: 'QuicksandBookOblique', Helvetica, sans-serif;
}
p {
  font-size: 1.3125rem;
  font-family: 'QuicksandBook', Helvetica, sans-serif;
  line-height: 1.8125rem;
}

@media only screen and (min-width: 600px) {
  h2 {
    font-size: 2.625em;
    margin-bottom: 1.3125rem;
  }
  p {
    font-size: 1.8125rem;
    line-height: 2.625rem;
  }
}

/* LAYOUT
-------------------------------------------------------------------------*/

.window {
  height: 80%;
  width: 100%;
}
.content {
  background-color: #fbf5f2;
  height: 110%;
  width: 100%;
  text-align: center
}
figure {
  background-color: #fbf5f2;
  border-radius: 50%;
  display: inline-block;
  width: 3.9375rem;
  margin-top: -2.3rem;
  padding: 0.6875rem;
}
figure img {
  height: auto;
  width: 100%;
}
header {
  margin: 1rem 0 2.625rem;
}
header img {
  height: auto;
  width: 90%;
  margin-top: 3%;
}
section {
  margin: 2.625rem auto 1.3125rem;
  text-align: left;
  width: 90%;
}
footer {
  padding: 2.625rem;
}
footer img {
  height: auto;
  width: 20%;
}

@media only screen and (min-width: 600px) {
  .window {
    height: 90%;
  }
  figure {
    width: 12%;
    padding: 2%;
    margin-top: -7%;
  }
  footer img {
    width: 25%;
  }
  section {
    display: inline-block;
    margin: 0 auto;
    width: auto;
  }
}

@media only screen and (min-width: 800px) {
  body {
    background: url('../images/masthead.jpg') no-repeat center 30% fixed;
    background-size: cover;
  }
  header {
    margin-bottom: 4%;
  }
  header img {
    width: 70%;
  }
  footer {
    padding-top: 2.1rem;
    padding-left: 15%;
    padding-bottom: 6.0625rem;
  }
  footer img {
    width: 160px;
  }
}

/* FONTS
-------------------------------------------------------------------------*/

@font-face {
  font-family: 'QuicksandLight';
  src: url('../fonts/Quicksand_Light-webfont.eot');
  src: url('../fonts/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Quicksand_Light-webfont.woff') format('woff'),
       url('../fonts/Quicksand_Light-webfont.ttf') format('truetype'),
       url('../fonts/Quicksand_Light-webfont.svg#QuicksandLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'QuicksandLightOblique';
  src: url('../fonts/Quicksand_Light_Oblique-webfont.eot');
  src: url('../fonts/Quicksand_Light_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Quicksand_Light_Oblique-webfont.woff') format('woff'),
       url('../fonts/Quicksand_Light_Oblique-webfont.ttf') format('truetype'),
       url('../fonts/Quicksand_Light_Oblique-webfont.svg#QuicksandLightOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'QuicksandBook';
  src: url('../fonts/Quicksand_Book-webfont.eot');
  src: url('../fonts/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Quicksand_Book-webfont.woff') format('woff'),
       url('../fonts/Quicksand_Book-webfont.ttf') format('truetype'),
       url('../fonts/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'QuicksandBookOblique';
  src: url('../fonts/Quicksand_Book_Oblique-webfont.eot');
  src: url('../fonts/Quicksand_Book_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Quicksand_Book_Oblique-webfont.woff') format('woff'),
       url('../fonts/Quicksand_Book_Oblique-webfont.ttf') format('truetype'),
       url('../fonts/Quicksand_Book_Oblique-webfont.svg#QuicksandBookOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'QuicksandBold';
  src: url('../fonts/Quicksand_Bold-webfont.eot');
  src: url('../fonts/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Quicksand_Bold-webfont.woff') format('woff'),
       url('../fonts/Quicksand_Bold-webfont.ttf') format('truetype'),
       url('../fonts/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'QuicksandBoldOblique';
  src: url('../fonts/Quicksand_Bold_Oblique-webfont.eot');
  src: url('../fonts/Quicksand_Bold_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Quicksand_Bold_Oblique-webfont.woff') format('woff'),
       url('../fonts/Quicksand_Bold_Oblique-webfont.ttf') format('truetype'),
       url('../fonts/Quicksand_Bold_Oblique-webfont.svg#QuicksandBoldOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'QuicksandDash';
  src: url('../fonts/Quicksand_Dash-webfont.eot');
  src: url('../fonts/Quicksand_Dash-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Quicksand_Dash-webfont.woff') format('woff'),
       url('../fonts/Quicksand_Dash-webfont.ttf') format('truetype'),
       url('../fonts/Quicksand_Dash-webfont.svg#QuicksandDash') format('svg');
  font-weight: normal;
  font-style: normal;
}
